* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #fff;
    color: rgb(14, 17, 23);
  }
  button {
    /* background-color: rgb(250, 250, 250);
    color: rgb(14, 17, 23);
    font-family: "Source Sans Pro", sans-serif; */
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    border: 2px rgb(14, 17, 23) solid;
    background-color: #fff;
    color: green;
  }

  #page-wrapper {
    position: relative;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /** global classes styling **/

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .btn {
    padding: 5px 20px;
    height: 40px;
    font-size: 1.5em;
    font-weight: 700;
    justify-content: right;
    border: 2px solid;
    border-radius: 25px;
    cursor: pointer; /* Adding transition for smooth effect */
    color: rgb(14, 17, 23);
  }

  header {
    position: fixed;
    top: 0;
    margin: auto;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    max-width: 1475px;
    justify-content: space-around;
    align-items: center;
    color: rgb(14, 17, 23);
    background-color: #fff;
    border-bottom: 3px #eee solid;
  }

  .logo {
    width: 60vw;
    font-size: 25px;
  }
  #products {
    margin-top: 100px;
  }

  #products h2 {
    margin: auto;
  }
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 20px;
  }
  section {
    margin-top: 150px;
  }
  #create-account {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .dm {
    display: flex;
    margin: auto;
    gap: 50px;
  }
  #explore {
    margin-top: 100px;
  }
  .exp {
    display: flex;
    gap: 50px;
  }
  #explore h2 {
    margin: auto;
  }
  #explore img {
    max-width: 400px;
    margin: auto; /* Adding transition for smooth effect */
    margin-top: 20px;
  }
  .flex {
    display: flex;
    align-items: center; /* Align items vertically at the center */
    gap: 50px;
  }

  .dm h2 {
    margin: auto;
  }

  #nav-bar {
    margin: auto;
    display: flex;
    gap: 10px;
  }
  nav {
    font-weight: 400;
  }

  #products img {
    margin-top: 25px;
  }

  nav > ul {
    width: 35vw;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }

  footer {
    margin-top: 150px;
    background-color: #fff;
    padding: 20px;
  }

  footer > ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  footer > ul > li {
    padding: 0 10px;
  }

  a:hover {
    color: orangered;
  }

  footer > span {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
  }
  .nav-link {
    color: rgb(14, 17, 23);
    display: inline-block; /* Ensures proper transformation */
  }
  #explore img:hover {
 /* Scale up the image when hovered */
 box-shadow: 0 0 20px 0 rgba(5, 20, 154, 0.8);

  }

  .btn:hover {
    color: orangered; /* Scale up the button when hovered */
  }
  .nav-link:hover {
    color: orangered; /* Scale up the link when hovered */
  }
 
  #products img:hover {
    box-shadow: 0 0 20px 0 rgba(5, 20, 154, 0.8);
  }
  #documentation img:hover {
    box-shadow: 0 0 20px 0 rgba(5, 20, 154, 0.8);

  }

  button:hover {
    color: orangered;
    border-color: orangered;
  }
  .pdt {
    display: flex;
    gap: 75px;
  }
  .pdt h3 {
    margin: auto;
  }
  #documentation {
    margin-top: 100px;
  }
  #documentation h2 {
    margin: auto;
  }
  #documentation a {
    margin: auto;
  }
  .doc {
    margin-top: 50px;
    display: flex;
  }
  #documentation img {
    width: 1000px;
  }