<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" href="../static/app.css" />
    <title>Data Mind</title>
    <script>
      function redirectURL() {
        window.location.href = "http://localhost:8501";
      }
    </script>
  </head>

  <body>
    <div id="page-wrapper">
      <header id="header">
        <div class="logo"><h1 style="color: #fff">🧊DATA MIND</h1></div>

        <nav id="nav-bar">
          <ul>
            <li><a class="nav-link" href="#exp">Explore</a></li>
            <li><a class="nav-link" href="#pdt">Features</a></li>
            <li><a class="nav-link" href="#doc">Documentation</a></li>
          </ul>
        </nav>
        <button class="nav-link" onclick="redirectURL()">Login</button>
      </header>

      <div class="container">
        <section id="create-account">
          <div class="flex">
            <img src="../static/Data.jpg" alt="Data logo" />
            <div class="dm">
              <!-- <h2>
                <b>Data Mind</b> is a transformative project designed to
                revolutionize the landscape of data analysis and visualization.
              </h2> -->
              <h2>
                <b><span id="typing-text"></span></b>
              </h2>
              <script src="../static/typing.js"></script>
            </div>
          </div>
          <div class="dm">
            <h2>Get Started With Data Mind!</h2>
            <a href="#" class="btn">Create Account</a>
          </div>
        </section>
        <div id="exp"></div>
        <section id="explore">
          <div class="exp">
            <h2><b>Explore</b></h2>
          </div>
          <div class="exp">
            <img src="../static/CSV.png" alt="CSV logo" />
            <img src="../static/EXCEL.png" alt="EXCEL logo" />
          </div>
          <div class="exp">
            <img src="../static/JSON.png" alt="JSON logo" />
            <img src="../static/XML.png" alt="XML logo" />
          </div>
        </section>
        <div id="pdt"></div>
        <section id="products">
          <div class="pdt">
            <h2><b>Features</b></h2>
          </div>
          <div class="pdt">
            <a href="#"
              ><img src="../static/Data Analytic.png" alt="Data Analytic logo"
            /></a>
            <h3>
              <b>Data Analytic</b> where users can analyze data through Pivot
              Description, Cross Relation, Scaling , and ProfileReport.
            </h3>
          </div>
          <div class="pdt">
            <h3>
              <b>Data Appearance</b> which seems to handle the visibility of
              data through Convert, Merge, and Transform operations.
            </h3>
            <a href="#"
              ><img
                src="../static/Data Appearance.png"
                alt="Data Appearance logo"
            /></a>
          </div>
          <div class="pdt">
            <a href="#"
              ><img src="../static/Data Triming.png" alt="Data Triming logo"
            /></a>
            <h3>
              <b>Data Trimming</b> which is related Remove Duplicates, Remove
              Missing Value, and structuring data frames.
            </h3>
          </div>
        </section>
        <div id="doc"></div>
        <section id="documentation">
          <div class="doc">
            <h2><b>Documemtation</b></h2>
          </div>
          <div class="doc">
            <img src="../static/Documentation.jpg" alt="Documentation logo" />
            <h2></h2>
          </div>
          <div class="doc"><a href="#" class="btn">View Documemtation</a></div>
        </section>
        <footer>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <span>@Copyright 2024, Data Mind</span>
        </footer>
      </div>
    </div>
  </body>
</html>
