<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <title>Delete Account</title>
    <link rel="stylesheet" href="../static/delete.css" />
  </head>
  <script src="../static/typing.js"></script>
  <body>
    <div class="flash">
      <center>
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="flash-message {{ category }}">
            {{ message }}
            <span
              class="close"
              onclick="this.parentElement.style.display='none';"
              >&times;</span
            >
          </div>
          {% endfor %} {% endif %} {% endwith %}
        </div>
      </center>
    </div>
    <div class="delete">
      <h1>Delete Your Account</h1>
      <form action="/delete" method="post">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
        <div style="display: flex">
          <button type="submit">Submit</button>
          <button onclick="redirectURL()">Back</button>
        </div>
      </form>
    </div>
  </body>
</html>
